<h2 class="page-title text-center">Call For Proposals</h2>
<p>
  Distill is a two day conference in San Francisco for people who create and build web and mobile technology. Does that sound like you? Great!
</p>
<p>
  Last year was our first time running Distill, and our keynote speakers focused on different aspects of development and technology, such as Nolan and Brett Bushnell’s talk on <a href="/2013/videos#brent_bushnell">Accelerating Creativity</a> and Michael Lopp’s talk on <a href="/2013/videos#michael_lopp">Stables and Volatiles</a>.
</p>
<p>
  The talks featured <a href="/2013/videos#ron_evans">flying robots</a>, <a href="/2013/videos#james_whelton">the creation of entire movements</a>, <a href="/2013/videos#ed_finkler">the challenges around mental health</a> and <a href="/2013/videos#elise_worthy">diversity in tech</a>, and <a href="/2013/videos#jina_bolton">the beauty that comes from working in a world we design</a>.
</p>
<p>
  Our Call for Papers is open until April 30th and we are welcoming submissions from anyone who has something that an audience of developers, designers, thinkers, and innovators can learn from or be inspired by.
</p>
