<p><strong>
  Talks will last about 30-35 minutes, with a 5-10 minute Q&A. Some ideas to get you going:
</strong></p>
<ul>
  <li>Software development on innovative hardware platforms</li>
  <li>Unique solutions to common problems with tools we use today</li>
  <li>Hardware, software, and mobile integration</li>
  <li>Tools for bringing people together who have difficulty connecting</li>
  <li>New innovations using hardware and software and where these innovations will lead</li>
  <li>The artistic, creative side of design and development</li>
</ul>
<p>
  Engine Yard will provide travel and two nights hotel accommodation for all speakers outside of the San Francisco area if needed.
</p>
