<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/tickets">Tickets</a></li>
          <li><a href="/logistics">Logistics</a></li>
          <li><a href="/2013" class="text-blue">Distill 2013</a></li>
          <li class="follow-us-li"><a href="https://www.twitter.com/distill">Follow us!</a></li>
        </ul>
      </div>
    </div>
    <div class="rays"><img src="/images/rays.png"></div>
    <div class="star"><img src="/images/star.png"></div>
    <a href="https://www.twitter.com/distill" class="twitter-follow">
      <img src="/images/twitter.png">
      <span>Follow us!</span>
    </a>
  </div>
</div>
