<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br><br>
      Thank you for your interest in submitting to Distill. Our CFP is now closed. We hope you see you at Distill 2014!
    </div>
  </div>
</div>
