<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="page-title text-center">Edit Profile</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
